<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>time1.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,36},{47,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{47,36}}</string>
			<key>sourceSize</key>
			<string>{47,36}</string>
		</dict>
		<key>time2.png</key>
		<dict>
			<key>frame</key>
			<string>{{47.5,36},{47.5,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{47.5,36}}</string>
			<key>sourceSize</key>
			<string>{47.5,36}</string>
		</dict>
		<key>time3.png</key>
		<dict>
			<key>frame</key>
			<string>{{95,36},{47.5,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{47.5,36}}</string>
			<key>sourceSize</key>
			<string>{47.5,36}</string>
		</dict>
		<key>time4.png</key>
		<dict>
			<key>frame</key>
			<string>{{142.5,36},{47.5,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{47.5,36}}</string>
			<key>sourceSize</key>
			<string>{47.5,36}</string>
		</dict>
		<key>time5.png</key>
		<dict>
			<key>frame</key>
			<string>{{190,36},{47.5,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{47.5,36}}</string>
			<key>sourceSize</key>
			<string>{47.5,36}</string>
		</dict>
		<key>time6.png</key>
		<dict>
			<key>frame</key>
			<string>{{237.5,36},{47.5,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{47.5,36}}</string>
			<key>sourceSize</key>
			<string>{47.5,36}</string>
		</dict>
		<key>time7.png</key>
		<dict>
			<key>frame</key>
			<string>{{285,36},{47.5,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{47.5,36}}</string>
			<key>sourceSize</key>
			<string>{47.5,36}</string>
		</dict>
		<key>time8.png</key>
		<dict>
			<key>frame</key>
			<string>{{332.5,36},{47.5,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{47.5,36}}</string>
			<key>sourceSize</key>
			<string>{47.5,36}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>Times.png</string>
		<key>size</key>
		<string>{1473,36}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:0e07504f614e935fcfc28006d277442e$</string>
		<key>textureFileName</key>
		<string>Times.png</string>
	</dict>
</dict>
</plist>
